/***** BASE STYLES *****/

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.container {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h3 {
  font-family: 'Niconne', cursive;
  color: #010101;
  font-size: 2.5em;
  font-weight: 600;
  width: 100%;
}

h4 {
  font-family: 'Julius Sans One', sans-serif;
  color: #010101;
  font-size: 1.25em;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

p {
	font-size: 14px;
	line-height: 21px;
}

ul {
  margin: 0;
}

header,
#about,
#services,
#portfolio,
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

/***** HEADER *****/

header {
	border-bottom: 3px solid #d4af37;
  text-align: center;
}

header .logo img {
  max-width: 50%;
  margin-top: 50px;
}

header h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.875em;
  color: #010101;
	margin: 0;
  padding: 40px 20px 30px;
  border-bottom: 3px solid #d4af37;
  width: 100%;
}

header h1 span {
  font-family: 'Niconne', cursive;
  font-size: 1.25em;
}

header h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  color: #010101;
  margin: 0;
  padding: 30px 20px 10px;
  width: 100%;
  text-transform: none;
}

/***** NAV *****/

nav {
  padding: 10px 0 30px;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  color: #d4af37;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 0;
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: #d4af37;
}

/***** ABOUT *****/

#about {
  background-color: #73706b40;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

#about img {
  border-radius: 50%;
  max-width: 50%;
}

#about p {
  color: #010101;
  font-size: 1em;
  font-weight: 300;
  margin: auto;
  padding: 20px 20px 0 20px;
  text-align: center;
}

#about span {
  font-weight: 600;
}

/***** SERVICES *****/

#services {
  text-align: center;
  margin-bottom: 30px;
}

.service-item {
  border: 1px solid #d4af37;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
}

#services h5 {
  color: #010101;
  font-size: 1em;
  font-weight: 300;
  margin: auto;
  text-align: center;
}

#services h5 a {
  color: #d4af37;
  font-weight: 400;
  text-decoration: none;
}

#services p {
  color: #010101;
  font-size: 1em;
  font-weight: 300;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

#services p a {
  color: #d4af37;
  font-weight: 400;
  text-decoration: none;
}

/***** PORTFOLIO *****/

#portfolio {
  background-color: #d4af3740;
  text-align: center;
}

.portfolio-item {
  padding-bottom: 20px;
}

#portfolio img {
  margin: 10px 10px;
  max-width: 80%;
}

#portfolio p {
  color: #010101;
  font-size: 1em;
  font-weight: 300;
  margin: auto;
  padding-top: 5px;
  text-align: center;
}

/***** CONTACT *****/

#contact {
  background-color: #73706b40;
  text-align: center;
  padding-bottom: 30px;
}

.social-icons {
  width: 100%;
}

.fab, .fas {
  color: white;
  font-size: 2em;
  padding: 0 20px 20px;
}

#contact p {
  color: #73706b;
  font-size: 10px;
  font-weight: 400;
  padding-top: 20px;
}


@media only screen and (min-width: 768px) {
    header h2 {
      line-height: 1.4em;
    }

    nav ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      width: 75%;
      margin: auto;
    }

    #about img {
      max-width: 25%;
    }

    #about p {
      width: 80%;
      font-size: 1.25em;
      line-height: 1.4em;
    }

    .service-item {
      width: 90%;
    }

    #services p {
      width: 90%;
      font-size: 1.25em;
      line-height: 1.4em;
    }

    .portfolio-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      margin: auto;
    }
    
    .portfolio-item {
      width: 33%;
    }

    #portfolio img {
      width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
}
